  html{background-color:#fefefe}
  body{font-family:Open Sans,Arial;color:#454545;font-size:16px;margin:2em auto;max-width:800px;padding:1em;line-height:1.4;text-align:justify}
  html.contrast body{color:#050505}
  html.contrast blockquote{color:#11151a}
  html.contrast blockquote:before{color:#262626}
  html.contrast a{color:#0051c9}
  html.contrast a:visited{color:#7d013e}
  html.contrast span.wr{color:#800}html.contrast span.mfw{color:#4d0000}html.inverted{background-color:#010101}html.inverted body{color:#bababa}html.inverted div#invmode{color:#fff;background-color:#000}html.inverted blockquote{color:#d$

.image { display: inline; padding: 10px; }

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #siteLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}
